

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color:  #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 1200px;
    margin: 0 auto;

}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}


/* Navbar container */
.navbar {
    display: flex;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;

}

.navbar .logo {
    float: left;
    padding-left: 10px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding-left: 3rem;
}
.navbar .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}
.navbar .logo a:hover {
    color: whitesmoke;
    text-decoration: none;

}

  /* Links inside the navbar */
.navbar  a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  /* Add a red background color to navbar links on hover */
.navbar  nav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}


  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* end of nabar */

.header h1 {
    text-align: center;
    position: relative;
}


.header {
    padding: 10px;
    margin: 10px
}

/* home page */
#homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    align-items: center
}

#homepage h1,h2,h3 {
    text-align: center;
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

#homepage p {
    text-align: center;
    position: relative;
    font-size: 1rem; /* 16 px */
    line-height: 1.9rem; /*30.4 px */
}

#homepage .kiri {
    margin: 1rem;
    padding: 1rem;
}

.kiri h2 { 
    padding: 1.2rem;
}

.kiri span {
    color: aquamarine;
}
.kiri, .kanan {
    padding: 20px;
}

.kanan h2 {
    display: flex;
    justify-content: center;
}

.logo img {
  width: 90%; /* Sesuaikan lebar logo */
  height: auto; /* Tinggi logo akan menyesuaikan secara otomatis */
}
/* end off home page */
